// Colors
$accent: #d5e0cc;
$text-color: #3b3b3b;
$border-color: #b3bfaa;

// Sizes
$width_big: 960px;

// Gutters
$gutter: 10px;

// Font
@mixin helvetica($size: 14px) {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: $size;
  font-weight: 900;
}

// Others
$border: 1px solid $border-color;
$box-shadow: 0 1px 10px rgba(#000, 0.2);
