// Colors
$accent: #ea6153;
$text-color: #3b3b3b;

// Sizes
$width_big: 960px;

// Gutters
$gutter: 10px;

// Font
@mixin helvetica($size: 14px) {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: $size;
  font-weight: 900;
}
